/Ex01_MediaSomaImpares.class
/Ex02_MaiorMenor_Media.class
/Ex03_ConcatenacaoVetores.class
/Ex04_vetorReal.class
/Ex05_SomatoriaVetor.class
/Ex06_OrdemCrescente.class
/Ex07_PesquisaBinaria.class
/Ex08_MatrizProdutos.class
/Ex10_SomaValores.class
/Ex11_MatrizLaterais.class
/Ex09_LinhaCentralMatriz.class
/Ex12_Xadrez.class
/At01_OrdemCrescenteSatoshi.class
/Ex07_PesquisaBinariaTeste.class
/Ex11_MatrizLateraisProfessor.class
/Pecas.class
