/Ex16_Modularizacao_SalarioTrabalhado.class
/Ex17_Modularizacao_GastoCombustivel_Viagem.class
/Ex18_Modularizacao_ExibirDiferencaMaior.class
/Ex19_Modularizacao_MaiorReal.class
/Ex20_Modularizacao_Equacao2Grau.class
/Ex21_Modularizacao_NotasBimestrais.class
/Ex22_Modularizacao_OrdemCrescente.class
/Ex23_Modularizacao_Sequencia_4Aleatorio.class
/Ex24_Modularizacao_InteiroDivisivel.class
/Ex25_Modularizacao_HorarioJogo.class
/Ex26_Modularizacao_MultiplosMenores.class
/Ex27_Modularizacao_VelocMedia.class
/Ex28_Modularizacao_NovoProduto.class
/Ex29_Modularizacao_Investimento.class
/Ex30_Modularizacao_Idade_AnosMesesDias.class
/Ex31_Modularizacao_QuadradosNumeros.class
/Ex32_Modularizacao_Fatorial.class
/Ex33_Modularizacao_SerieFatorial.class
/Ex34_Modularizacao_Tabuada.class
/Ex35_Modularizacao_SomatorioImpares.class
/Ex36_Modularizacao_Serie_1porFatorial.class
/Ex37_Modularizacao_Fibonacci.class
/Ex38_Modularizacao_MaiorMenor.class
/Ex39_Modularizacao_QntGraos.class
/Ex40_Modularizacao_NumerosPrimos.class
/Ex41_Modularizacao_Soma7.class
/Ex42_Modularizacao_SerieDivididoPorMais2.class
/Ex43_Modularizacao_SerieDivididoPorMais2.class
/Ex43_Modularizacao_IdadeMaiorOutra.class
/Ex44_Modularizacao_Exponenciacao.class
/Ex45_Modularizacao_ExponenciacaoSerieDivisao.class
