/Ex01_ExibirDiferencaMaior.class
/Ex02_MaiorReal.class
/Ex03_Equacao2Grau.class
/Ex04_NotasBimestrais.class
/Ex05_OrdemCrescente.class
/Ex18_ExibirDiferencaMaior.class
/Ex19_MaiorReal.class
/Ex20_Equacao2Grau.class
/Ex21_NotasBimestrais.class
/Ex22_OrdemCrescente.class
/Ex23_3Sequencia_4Aleatorio.class
/Ex24_InteiroDivisivel.class
/Ex25_HorarioJogo.class
/Ex26_MultiploMenor.class
/Ex27_VelocMedia.class
/Ex28_NovoProduto.class
/Ex29_Investimento.class
/Ex30_idade_AnosMesesDias.class
