/Ex38_MaiorMenor.class
/Ex39_QntGraos.class
/Ex40_NumerosPrimos.class
/Ex41_Soma7.class
/Ex42_SerieDivididoPorMais2.class
/Ex43_IdadeMaiorOutra.class
/Ex44_Exponenciacao.class
/Ex45_ExponenciacaoSerieDivisao.class
